{% extends 'base.html' %}
{% load static %}
{% block content %}


    <main class="container mt-14">
        <!-- 404 -->
        <section class="flex flex-col gap-y-2 items-center justify-center w-full text-center">
            <img src="{% static 'Images/404-2048x702.webp' %}" class="h-28 sm:h-36 lg:h-60"
                style="animation: float 3s ease-in-out infinite;" />
            <h2 class="text-xl lg:text-2xl font-DanaMedium mt-4 dark:text-gray-300">صفحه‌ای که به دنبال آن هستید یافت
                نشد !</h2>
            <p class="text-gray-500 mt-2 text-center">لطفاً آدرس اینترنتی را بررسی کنید یا به صفحه اصلی برگردید.</p>
            <a href="{% url 'home:landing' %}"
                class="flex items-center justify-center mt-8 px-4 lg:px-8 py-2 lg:py-3 bg-green-500 text-white rounded-full shadow hover:bg-green-600 transition-all duration-300 transform hover:scale-105">
                بازگشت به صفحه اصلی
                <svg class="w-5 h-5 ">
                    <use href="#chevron-left"></use>
                </svg>
            </a>
        </section>
    </main>

{% endblock %}

    <!-- OVERLAY -->
    <div class="overlay hidden fixed w-full h-full top-0 left-0 right-0 bg-black/40 z-40 transition-all duration-300">
    </div>


    <!-- ==========================  APP JS ============================= -->
    <script src="{% static 'scripts/App.js' %}"></script>

