{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load jalali_tags %}

    <main class="container child:mt-8">
        <!-- Breadcrumbs -->
        <section>
            <ul class="flex items-center gap-x-2 text-gray-400 text-sm lg:text-base">
                <li class="flex items-center gap-x-2">
                    <a href="{% url 'home:landing' %}">صفحه اصلی</a>
                    <svg class="w-4 h-4">
                        <use href="#chevron-left"></use>
                    </svg>
                </li>
                <li class="flex items-center gap-x-2">
                    <a href="{% url 'article:article_list' %}"> مقالات</a>
                    <svg class="w-4 h-4">
                        <use href="#chevron-left"></use>
                    </svg>
                </li>
                <li class="flex items-center gap-x-2">
                    <a href="">جزییات مقاله </a>
                </li>
            </ul>
        </section>
        <!-- Article Details -->
        <section class="flex flex-col lg:flex-row items-start gap-4 ">
            <!-- ARTICLE -->
            <div
                    class="w-full lg:w-3/4 flex flex-col gap-y-8 px-4 lg:px-8 py-4 rounded-lg bg-white dark:bg-zinc-700 shadow">
                <!-- ARTICLE HEADER -->
                <div class="w-full flex flex-col gap-y-6 ">
                    <div class="flex flex-col lg:flex-row gap-y-3 lg:items-center lg:justify-between">
                        <h2 class="font-MorabbaMedium text-lg lg:text-2xl">{{ article.title }}</h2>
                        <span class="flex items-center gap-x-1 text-green-500 cursor-pointer">
                            <svg class="w-4 h-4">
                                <use href="#share"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="flex flex-wrap  items-center gap-y-3 gap-x-8 text-sm">

                            <span class="flex items-center gap-x-1 text-gray-400 ">
                            <svg class="w-4 h-4">
                                <use href="#list-bullet"></use>
                            </svg>
                            <p>دسته‌بندی : {{ article.category.title.all }}</p>
                        </span>


                        <span class="flex items-center gap-x-1 text-gray-400 ">
                            <svg class="w-4 h-4">
                                <use href="#user"></use>
                            </svg>
                            <p>توسط : {{ article.auth }} </p>
                        </span>
                        <span class="flex items-center gap-x-1 text-gray-400 ">
                            <svg class="w-4 h-4">
                                <use href="#calendar"></use>
                            </svg>
                            <p> تاریخ انتشار : {{ article.created_at.date }} </p>
                        </span>
                    </div>
                </div>
                <!-- ARTICLE MAIN -->

                <div>
                    <img class="rounded-lg" src="{{ article.image.url }}" alt="">
                    <p class="mt-3 leading-10 text-gray-600 dark:text-gray-300">{{ article.Introduction }}</p>

                    <p class="mt-3 leading-10 text-gray-600 dark:text-gray-300">
                        {{ article.text }}
                    </p>
                    <h2 class="mt-3 font-DanaMedium text-xl">مواد لازم :</h2>
                    <ul
                            class="mt-3 text-gray-600 dark:text-gray-300 space-y-2 child:flex child:items-center child:gap-x-2">
                        <li>
                            <span class="w-3 h-3 rounded-full bg-green-500 flex"></span>
                            <p>{{ article.ingredient }}</p>
                        </li>

                    </ul>


                    <p class="mt-3 leading-10 text-gray-600 dark:text-gray-300">{{ article.recipe }}</p>
                </div>
            </div>

            <!-- SIDE BAR -->

                <div
                        class="top-2 lg:sticky w-full lg:w-1/4 child:rounded-lg child:bg-white child:dark:bg-zinc-700 child:shadow child:p-4 space-y-5 child:flex child:flex-col child:gap-y-4">

                    <div>
                        <h4 class="font-DanaMedium">جدیدترین مقالات : </h4>
                        <ul class="w-full child:flex child:items-center child:gap-x-2 child:cursor-pointer space-y-4 ">
                            {% for item in recent_article %}
                            <li>
                                <img class="w-24 h-16 object-cover rounded-lg" src="{{ item.image.url }}" alt="">
                                <a class="flex flex-col gap-y-2 ">
                                    <p class="line-clamp-1">{{ item.title }}</p>
                                    <span href="#" class="flex items-center gap-x-1 text-sm text-gray-400">
                                    <svg class="w-4 h-4 mb-1">
                                        <use href="#calendar"></use>
                                    </svg>
                                    {{ item.created_at.date }}
                                </span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'article:article_list' %}" class="main-btn py-1.5 gap-x-1">مشاهده بیشتر
                            <svg class="w-4 h-4">
                                <use href="#chevron-left"></use>
                            </svg>
                        </a>
                    </div>

                    <div>
                        <h4 class="font-DanaMedium"> دسته بندی : </h4>
                        <ul class="child:flex child:items-center child:justify-between child:cursor-pointer space-y-3 ">
                            {% for category in category %}
                                <li class="group">
                            <span
                                    class="flex items-center justify-center gap-x-1 group-hover:pr-2 duration-300 transition-all group-hover:text-green-500">
                                <p>{{ category.title }}</p>
                                <svg class="w-4 h-4">
                                    <use href="#chevron-left"></use>
                                </svg>
                            </span>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

        </section>

        <!-- Best-selling products -->
        <section>
            <!-- TITLE -->
            <div class="flex items-center justify-between mb-12">
                <div class="flex flex-col gap-y-2">
                    <h2 class="font-MorabbaMedium text-xl lg:text-3xl">
                        محصولات اخیر
                    </h2>
                </div>
                <div
                        class="flex items-center gap-x-2 child:p-2 child:bg-white child:dark:bg-zinc-700 child:shadow child:rounded-full">
                    <button class="prev-slide-best ">
                        <svg class="w-4 h-4">
                            <use href="#chevron-right"></use>
                        </svg>
                    </button>
                    <button class="next-slide-best ">
                        <svg class="w-4 h-4">
                            <use href="#chevron-left"></use>
                        </svg>
                    </button>
                </div>

            </div>
            <!-- SLIDER  -->
            <div class="swiper BestSelling rounded-lg" dir="rtl">
                <div
                        class="swiper-wrapper rounded-lg mb-2 child:cursor-pointer child:overflow-hidden child:rounded-lg child:bg-white child:dark:bg-zinc-700 child:shadow child:w-64 child:relative">
                    <!-- PRODUCT ITEM -->
                    {% for recent in recent_product %}

                        <div class="swiper-slide group">
                            <!-- OFF BADGE -->

                            <!-- PRODUCT IMGAE -->
                            <img src="{{ recent.image1.url }}" alt="product-1"
                                 class="group-hover:scale-105 duration-300 w-32 h-32 lg:w-48 lg:h-48 mx-auto mb-3"/>
                            <!-- PRODUCT MAIN -->
                            <div class="px-2 lg:px-4 mb-3">
                                <a href="{% url 'product:detail' recent.id %}"
                                   class="line-clamp-2 font-DanaMedium mb-2 text-sm lg:text-base">
                                    {{ recent.title }}
                                </a>
                                <div class="flex items-center gap-x-1 lg:gap-x-3">
                                    <p class="font-DanaDemiBold text-green-600 dark:text-green-500">
                                        {{ recent.price }}
                                        <span class="font-Dana text-sm">تومان</span>
                                    </p>
                                </div>
                            </div>
                            <!-- PRODUCT FOOTER -->
                            <div class="flex items-center justify-between px-2 lg:px-4 mb-3">
                                <div class="flex items-center gap-x-2 child:transition-all child:duration-300">
                                <span class="rounded-full p-2 dark:bg-zinc-800 dark:hover:bg-green-500 bg-gray-100 hover:bg-green-600 hover:text-white">
                                    <a href="{% url 'product:detail' recent.id %}">
                                    <svg class="w-4 h-4">
                                        <use href="#shopping-cart"></use>
                                    </svg></a>
                                </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

{% endblock %}
