 {% load static %}

  <div class="overlay hidden fixed w-full h-full top-0 left-0 right-0 bg-black/40 z-40 transition-all duration-300">
    </div>

    <!-- ==========================  APP JS ============================= -->
    <script src="{% static 'scripts/App.js' %}"></script>
    <script src="{% static 'scripts/Timer.js' %}"></script>
    <!-- ==========================  SLIDER APP ============================= -->
    <script src="{% static 'scripts/swiper.js' %}"></script>
    <!-- ==========================  SLIDER APP ============================= -->
    <script src="{% static 'scripts/Slider.js' %}"></script>
