{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- panel -->
    <main>
        <!--  PANLE -->
        <section class="flex flex-col h-screen items-start lg:flex-row">

            <!-- SIDEBAR DESKTOP -->
            {% include 'include/sidebar_dashboard.html' %}

            <!-- MAIN  -->
            <div class="lg:w-3/4 xl:w-4/5 lg:m-5 w-full">
                <!-- NAVBAR -->
                <div class=" bg-white dark:bg-zinc-700 p-5 lg:rounded-lg shadow flex items-center justify-between">
                    <p class="font-DanaMedium text-lg hidden lg:block"> {{ user.phone }}؛ خوش اومدی 🙌 </p>
                    <button class="open-sidebar-btn flex lg:hidden items-center gap-x-1">
                        <svg class="w-6 h-6">
                            <use href="#bars"></use>
                        </svg>
                        داشبورد
                    </button>
                    <div class="flex items-center gap-x-3">
                        <button class="relative flex items-center justify-end  notif-toggle-btn">
                            <svg class="w-6 h-6">
                                <use href="#bell"/>
                            </svg>
                            <!-- BADGE -->
                            <span
                                    class="absolute -top-1.5 -right-2 w-4 h-4 text-[10px] flex items-center justify-center bg-red-500 text-white rounded-full">2</span>
                            <!-- NOTIFICATION BOX -->
                            <div
                                    class="notif-box  absolute -left-6 dark:border-none border border-gray-100 w-72 p-4 bg-white text-zinc-900 dark:text-white  hidden top-8 transition-all delay-100 dark:bg-zinc-800 rounded shadow child:transition-all z-40">
                                <span class="justify-between flex items-center border-b border-gray-200 pb-2">
                                    <p> اعلان ها</p>
                                    <p class="text-green-500 flex text-sm items-center gap-x-0.5">
                                        همه
                                        <svg class="w-3 h-3">
                                            <use href="#chevron-left"></use>
                                        </svg>
                                    </p>
                                </span>
                                <ul
                                        class="mt-4 child:flex child:items-center child:gap-x-1 child:w-full child:rounded-lg child:bg-zinc-100 child:p-2 space-y-3 dark:child:bg-zinc-700">
                                    <li>
                                        <svg class="w-5 h-5 text-green-500 ">
                                            <use href="#check"></use>
                                        </svg>
                                        <p class="font-Dan aMedium text-green-500">پرداخت شده</p>
                                    </li>
                                    <li>
                                        <svg class="w-5 h-5 text-red-500 ">
                                            <use href="#x-close"></use>
                                        </svg>
                                        <p class="font-Dan aMedium text-red-500">پرداخت لغو شد</p>
                                    </li>
                                </ul>
                            </div>
                        </button>
                        <a href="{% url 'home:landing' %}" class="hidden lg:flex items-center gap-x-0.5 text-green-500">
                            صفحه اصلی
                            <svg class="w-4 h-4">
                                <use href="#chevron-left"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="m-5 lg:m-0">
                    <p class="font-DanaMedium block lg:hidden"> {{ user.phone }} عزیز؛ خوش اومدی 🙌 </p>
                    <div class="grid grid-cols-12 gap-6 lg:gap-12 mt-6">

                        <div class="col-span-12">
                            <p class="text-lg"> لیست تیکت ها :</p>
                            {% for tickets in tickets %}

                                <div class="relative mt-4 overflow-x-auto shadow rounded-lg">
                                <table class="w-full text-sm text-right text-gray-500 dark:text-gray-400">
                                <thead
                                        class="text-xs text-gray-700  bg-gray-50 dark:bg-zinc-700 dark:text-gray-200">
                                <tr>
                                    <th scope="col" class="px-6 py-3.5">
                                        عنوان تیکت
                                    </th>
                                    <th scope="col" class="px-6 py-3.5">
                                        وضعیت
                                    </th>
                                </tr>
                                </thead>
                                <tbody>





                                <tr
                                        class="bg-white border-b dark:bg-zinc-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-zinc-600">
                                    <th scope="row"
                                        class="px-6 py-5 font-medium text-blue-400 whitespace-nowrap dark:text-white">
                                        <a href="{% url 'dashboard:ticket_detail' tickets.id %}">{{ tickets.subject }}</a>
                                    </th>
                                    <td class="px-6 py-5">
                                        {{ tickets.status }}
                                    </td>
                                </tr>
                            {% empty %}
                                <p>تیکتی وجود ندارد</p>


                            <a href="{% url 'dashboard:ticket' %}" class="main-btn p-2 gap-x-1 shadow">
                            میخواهید تیکت بزنید؟
                                <svg class="w-5 h-5">
                                    <use href="#add"></use>
                                </svg>
                            </a>
                                 {% endfor %}
                            </tbody>
                            </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

<!-- OVERLAY -->
<div class="overlay hidden fixed w-full h-full top-0 left-0 right-0 bg-black/40 z-40 transition-all duration-300">
</div>

