{% extends 'base.html' %}
{% block content %}


    <main class="container child:mt-8">
        <!-- Breadcrumbs -->
        <section>
            <ul class="flex items-center gap-x-2 text-gray-400 text-sm lg:text-base">
                <li class="flex items-center gap-x-2">
                    <a href="{% url 'home:landing' %}">صفحه اصلی</a>
                    <svg class="w-4 h-4">
                        <use href="#chevron-left"></use>
                    </svg>
                </li>
                <li class="flex items-center gap-x-2">
                    <a href="{% url 'cart:cart' %}"> سبد خرید </a>
                    <svg class="w-4 h-4">
                        <use href="#chevron-left"></use>
                    </svg>
                </li>
                <li class="flex items-center gap-x-2">
                    <a href="{% url 'account:address' %}"> آدرس</a>
                </li>
            </ul>
        </section>
        <!-- address section -->
        <section class="flex flex-col lg:flex-row items-start gap-4 ">

            <!-- Address -->
            <div class="w-full lg:w-2/3 flex flex-col px-4 lg:px-8 py-4 rounded-lg bg-white dark:bg-zinc-700 shadow">
                <h2 class="font-MorabbaMedium text-2xl flex w-fit border-b-2 border-green-500 pb-1"> آدرس </h2>
                <p class="text-gray-500 dark:text-gray-400 font-DanaMedium mt-4 mb-8 text-sm lg:text-base">
                    لطفا اطلاعات خود را به درستی وارد نمایید
                </p>
                <div class="flex flex-col lg:flex-row items-start ">
                    <form class="w-full grid grid-cols-12 gap-4" method="post">
                        {% csrf_token %}

                        {{ form.errors }}
                        {{ form.fullname }}
                        {{ form.address }}
                        {{ form.phone }}
                        {{ form.postal_code }}
                        {{ form.text }}
                        <button
                                class="w-10 mt-10 flex items-center justify-center bg-green-500 text-white hover:bg-green-600 transition-all rounded-lg shadow py-2" type="submit">
                            تایید
                        </button>
                    </form>
                </div>
            </div>
        </section>
{% endblock %}
